{
	"set_position": [
		(
			attributes: [
				("method", None),
				("js_name", Some("setPosition")),
			],
			name: "set_position",
			arguments: [
				("x", (
					type_desc: TsNumber,
					reference: false,
					optional: false,
				)),
				("y", (
					type_desc: TsNumber,
					reference: false,
					optional: false,
				)),
				("z", (
					type_desc: TsNumber,
					reference: false,
					optional: false,
				)),
			],
			return_type: Some((
				type_desc: TsClass("Matrix4"),
				reference: false,
				optional: false,
			)),
		),
	],
}
